In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('C:\\Users\\user\\Downloads\\covid_toy.csv')

In [6]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [7]:
df.shape

(100, 6)

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# simpleimputer 
change values of null to avg in numerical values and catagorical data is filled by the values that repeat most -->

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x=df.drop(columns=['has_covid'],axis=1)

In [12]:
y=df['has_covid']

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# mnaually type output approach

In [14]:
# fever
si=SimpleImputer()

In [15]:
x_train_fever=si.fit_transform(x_train[['fever']])
x_test_fever=si.fit_transform(x_test[['fever']])

In [16]:
x_train.shape

(80, 5)

In [17]:
x_test.shape

(20, 5)

In [18]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [19]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [30]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [31]:
#cough
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

In [32]:
x_train_cough

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.]])

In [33]:
x_test_cough =oe.fit_transform(x_test[['cough']])

In [34]:
x_train.shape

(80, 5)

In [35]:
x_test.shape

(20, 5)

In [36]:
#Gender,city
ohe=OneHotEncoder(drop='first',sparse=False)
x_train_gender=ohe.fit_transform(x_train[['gender','city']])
x_test_gender=ohe.fit_transform(x_test[['gender','city']])

C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [37]:
x_train_gender.shape

(80, 4)

In [38]:
x_test_gender.shape

(20, 4)

In [39]:
#dropping all columns except age
x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values
x_train_age

array([[81],
       [ 5],
       [19],
       [27],
       [73],
       [70],
       [49],
       [51],
       [64],
       [83],
       [65],
       [18],
       [16],
       [16],
       [27],
       [84],
       [51],
       [69],
       [82],
       [69],
       [44],
       [74],
       [20],
       [12],
       [33],
       [42],
       [65],
       [23],
       [56],
       [64],
       [13],
       [31],
       [40],
       [49],
       [19],
       [11],
       [14],
       [42],
       [38],
       [46],
       [71],
       [10],
       [60],
       [22],
       [19],
       [65],
       [19],
       [54],
       [81],
       [20],
       [48],
       [82],
       [23],
       [66],
       [ 5],
       [49],
       [ 5],
       [34],
       [79],
       [ 6],
       [10],
       [69],
       [55],
       [34],
       [27],
       [47],
       [73],
       [42],
       [80],
       [47],
       [38],
       [34],
       [25],
       [24],
       [12],
       [24],
       [75],
       [51],
       [82],
       [11]], dtype=int64)

In [40]:
x_train_age.shape

(80, 1)

In [41]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,x_train_cough,x_train_gender),axis=1)

In [45]:

pd.DataFrame(x_train_transformed)

       0      1    2    3    4    5    6
0   81.0  101.0  0.0  0.0  0.0  0.0  1.0
1    5.0  100.0  0.0  0.0  0.0  1.0  0.0
2   19.0  100.0  0.0  0.0  0.0  1.0  0.0
3   27.0  100.0  0.0  1.0  1.0  0.0  0.0
4   73.0  103.0  0.0  0.0  1.0  0.0  0.0
..   ...    ...  ...  ...  ...  ...  ...
75  24.0  102.0  1.0  0.0  0.0  0.0  0.0
76  75.0  104.0  1.0  0.0  1.0  0.0  0.0
77  51.0  104.0  0.0  1.0  0.0  0.0  0.0
78  82.0  102.0  1.0  0.0  0.0  1.0  0.0
79  11.0  100.0  1.0  0.0  0.0  1.0  0.0

[80 rows x 7 columns]

# by the help of columntransformer

In [31]:
from sklearn.compose import ColumnTransformer

In [32]:
transformer=ColumnTransformer(transformers=[
    ('a',SimpleImputer(),['fever']),
    ('b',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('c',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [33]:
transformer.fit_transform(x_train).shape

C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [39]:
transformer.fit_transform(x_test).shape

C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(20, 7)

In [41]:
transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('a', SimpleImputer(), ['fever']),
                                ('b',
                                 OrdinalEncoder(categories=[['Mild',
                                                             'Strong']]),
                                 ['cough']),
                                ('c', OneHotEncoder(drop='first', sparse=False),
                                 ['gender', 'city'])])