In [1]:
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\user\\Downloads\\mall.csv")

In [3]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
df = df.drop(columns = ['CustomerID'],axis = 1)

In [5]:
df.head()

    Genre  Age  Annual Income (k$)  Spending Score (1-100)
0    Male   19                  15                      39
1    Male   21                  15                      81
2  Female   20                  16                       6
3  Female   23                  16                      77
4  Female   31                  17                      40

In [6]:
lb = LabelEncoder()
df['Genre']= lb.fit_transform(df['Genre'])

In [7]:
df.head()

   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0      1   19                  15                      39
1      1   21                  15                      81
2      0   20                  16                       6
3      0   23                  16                      77
4      0   31                  17                      40

In [8]:
df.corr()

,Genre,Age,Annual Income (k$),Spending Score (1-100)
Genre,1.000000,0.060867,0.056410,-0.058109
Age,0.060867,1.000000,-0.012398,-0.327227
Annual Income (k$),0.056410,-0.012398,1.000000,0.009903
Spending Score (1-100),-0.058109,-0.327227,0.009903,1.000000

In [9]:
x = df.drop(columns = ['Genre'])
y= df['Genre']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=12)

In [10]:
adf = LogisticRegression(multi_class = 'multinomial')
adf.fit(x_train,y_train)

LogisticRegression(multi_class='multinomial')

In [11]:
y_pred = adf.predict(x_test)
accuracy_score(y_test,y_pred)

0.45

In [12]:
pd.DataFrame(confusion_matrix(y_test,y_pred))

    0  1
0  18  0
1  22  0

In [ ]:
a = ['a','e','i','o','u','A',"E","i"]