In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer , SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("C:\\Users\\user\\Documents\\data sets\\titanic.csv")[[
    'Age','Pclass','Fare','Survived'
]]

In [3]:
df.head()

    Age  Pclass     Fare  Survived
0  34.5       3   7.8292         0
1  47.0       3   7.0000         1
2  62.0       2   9.6875         0
3  27.0       3   8.6625         0
4  22.0       3  12.2875         1

In [4]:
df.isnull().mean()*100

Age         20.574163
Pclass       0.000000
Fare         0.239234
Survived     0.000000
dtype: float64

In [5]:
x = df.drop(columns=['Survived'])
y= df['Survived']

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [7]:
x_train.head()

      Age  Pclass     Fare
337  39.0       3   7.2292
224  53.0       1  27.4458
376  22.0       3   8.6625
312   NaN       3   7.5750
165  26.0       3  22.0250

In [8]:
knn = KNNImputer(n_neighbors=4,)
x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [9]:
lr = LogisticRegression(n_jobs=-1)

lr.fit(x_train_trf,y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.6904761904761905

In [10]:
# Comparision with Simple Imputer -->mean

si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)

x_test_trf2 = si.transform(x_test)

In [11]:
lr = LogisticRegression(n_jobs=-1)

lr.fit(x_train_trf2,y_train)

y_pred2 = lr.predict(x_test_trf2)

accuracy_score(y_test,y_pred2)

0.6904761904761905