In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\user\\Downloads\\play_tennis.csv")

In [3]:
data.head()
data.drop(columns = ['day'],inplace = True)

In [4]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [5]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [6]:
py = 9/14
pn = 5/14
print(py,pn,end='\n')

0.6428571428571429 0.35714285714285715

In [7]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [8]:
pon = 0
prn =2/5
psn = 3/5

poy= 4/9
pry= 3/9
psy = 2/9

In [9]:
# temp 

pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [10]:
PCollNo = 1/5
PHotNo = 2/5
PMildNo = 2/5

PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [11]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [12]:
PHighNo = 4/5
PNormalNo = 1/5
PHighYes = 3/9
PNormalYes = 6/9

In [13]:
# wind

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes = 3/9
PWeakYes = 6/9

In [15]:
#outlook = sunny , temp = Hot ,Humidity = High ,wind = weak 

Pyes = py*psy* PHotYes * PHighYes * PWeakYes
Pyes

0.007054673721340388

In [16]:
 Pno = pn* psn * PHotNo * PHighNo* PWeakNo
Pno

0.02742857142857143

In [17]:
# No Play

# Sentiment Analysis

In [18]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("C:\\Users\\user\\Desktop\\important notes\\IMDB Dataset.csv")

In [22]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [23]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [25]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [26]:
df = df.sample(10000)

In [27]:
df.shape

(10000, 2)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 23023 to 5364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [29]:
df['sentiment'].replace({'positive': 1 ,'negative':0},inplace = True)

In [33]:
import re
clean = re.compile('<,*?>')
re.sub(clean, '' , df.iloc[2].review)

'Why else would he do this to me?<br /><br />Not that I expect Dean Cain to produce hit movies. Or even decent movies. I saw Lois and Clark, I am aware of just how... "good" Dean Cain is.<br /><br />Obviously this is gonna be a cheesey flick, and each cheesey flick has its own special way to make you scratch your head. I will not call these spoilers as you can\'t really spoil this movie any more than it already is.<br /><br />To begin with... why is that a fake helicopter? I mean... why?<br /><br />How come that one scientist is from Chicago and that other scientist is from LA and neither one could be any more eastern european if they tried? How hard would it have been to get either an american actor, or just change that lame state sheet the movie provides us with to say those people aren\'t american?<br /><br />Why are there 2 occasions when the movie gives us a slug line? We get helipad-day and then mess hall-day later on. And then that\'s it, who cares about the timeline. To be honest, who cared about it even when they mentioned it, but I guess that\'s beside the point.<br /><br />Does a movie really get better if you are able to view it through multiple split screens? The answer is no.<br /><br />That dragon sure can walk down that hall..over..and over...and over....and over...<br /><br />Who on earth was responsible for one of the worst endings in film history? It was straight out of scooby doo. Oh, the dragon\'s dead now...say, wanna get dinner? Sure, but not at some Chinese place....with Dragon in the name!! AH HA HA HA!! HA HA HA!! HAHA HA! I used to be Superman! AHA HA HA! HA HA!<br /><br />fade to black<br /><br />my god, it made me cringe it was so stupid.<br /><br />But never fear..even though the whole building exploded...and no one was left alive..for some reason there\'s a second untouched, unmanned lab that survived pretty well, so they can make a sequel. Hurray for us all.<br /><br />'

In [43]:
def clean_html(text):
    clean = re.compile('<>,.&?!')
    return re.sub(clean , '', text)

In [44]:
df['review'] = df['review'].apply(clean_html)

In [45]:
df

                                                  review  sentiment
23023  a friend of mine gave me this movie. a friend ...          0
41757  i´m from germany and i love the mvovies. i go ...          1
898    why else would he do this to me?<br /><br />no...          0
49371  rock solid giallo from a master filmmaker of t...          1
11566  this film limps from self indulgent moment to ...          0
...                                                  ...        ...
24408  somebody needs to send this uli lommel guy bac...          0
443    i had been amazed by director antal's kontroll...          0
49213  other commentators have detailed the plot and ...          1
29513  this is what you would get if you allowed a 10...          0
5364   this is one of the most insipid, lackluster, u...          0

[10000 rows x 2 columns]

In [46]:
def convert_lower(text):
    return text.lower()

In [47]:
df['review']=df['review'].apply(convert_lower)

In [48]:
df

                                                  review  sentiment
23023  a friend of mine gave me this movie. a friend ...          0
41757  i´m from germany and i love the mvovies. i go ...          1
898    why else would he do this to me?<br /><br />no...          0
49371  rock solid giallo from a master filmmaker of t...          1
11566  this film limps from self indulgent moment to ...          0
...                                                  ...        ...
24408  somebody needs to send this uli lommel guy bac...          0
443    i had been amazed by director antal's kontroll...          0
49213  other commentators have detailed the plot and ...          1
29513  this is what you would get if you allowed a 10...          0
5364   this is one of the most insipid, lackluster, u...          0

[10000 rows x 2 columns]

In [50]:
#function to remove special characters

def remove_special(text):
    x= ""
    
    for i in text:
        if i.isalnum():
            x = s+i
        else:
            x=x+ ' '
    return x

In [53]:
from nltk.corpus import stopwords

In [55]:
stopwords.words('english')

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\user/nltk_data'
    - 'C:\\Users\\user\\anaconda3\\nltk_data'
    - 'C:\\Users\\user\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\user\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\user\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [57]:
def remove_stopwords(text):
    x=[]
    for i in test.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
        y=x[:]
        x.clear()
        return y

In [58]:
df['review']=df['review'].apply(remove_stopwords)

NameError: name 'test' is not defined